/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
}

/* Hide scrollbars globally but keep scrolling functionality */
/* WebKit */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
* {
  scrollbar-width: none; /* hide scrollbar */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Optional: keep focus outlines for accessibility */
:focus {
  outline: 2px solid rgba(59,130,246,0.6);
  outline-offset: 2px;
}
